/* Variables CSS pour les couleurs */
:root {
    --primary-color: #00008c;    /* Bleu principal */
    --secondary-color: #3333a3;  /* Vert secondaire */
    --accent-color: #e74c3c;     /* Rouge accent */
    --text-color: #ffff00;       /* Couleur du texte */
    --background-color: #00008c; /* Couleur de fond */
    --color-bouton: #d7f7f7;
    --couleurs-contour: #ff8c00;
    --background-color-input: #5c5cb5;
}

*{
    padding: 0%;
    margin: 0%;
}

body{
    color: var(--text-color);
    background-color: var(--background-color);
}
h1{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}
.form{
    background-color: var(--secondary-color);
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}
.couleurs{
    background-color: var(--background-color-input) ;
    padding: 10px;
    border: 2px solid var(--couleurs-contour);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    color: white;
}
.text{
    color: var(--color-bouton);
}
label {
    display: block;
    margin-bottom: 5px;

    font-weight: bold;
}
button.couleurs{
    padding: 12px 30px;
    border: 2px solid var(--couleurs-contour);
    border-radius: 5px;
    background-color: var(--background-color-input);
    cursor: pointer;
    font-weight: bold;
}
footer {
    text-align: center;
    margin-top: 50px;
   
}