*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    background-color: #d4bdb0;
}
#fielBody{
    width: 50%;
    margin: 2% auto;
    border-color: #a38d8b;
}
#fielForm{
    margin: 1%;
    border-style: dashed;
    border-color: #a6a390  ;
}
#containerP{
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 10px 10px;
}
h1{ 
    display: inline;
    color:#705b64;
    font-size: 230%; 
 
}
#monTexte{
    font-size: 20px; 
    color: #8f7979;
    border: 2px solid #a3a08c;
    background-color: #c2ae9f;
    padding: 15px 15px 15px 15px;
    margin-left: 18%;
}
form{
    margin-left: 4%;
}
p{
    color: #8f687a;
    margin-bottom: 5%;
    font-size: 20px;
     display: inline;
}
#monIdentifiant, #monMDP{
    margin-top: 3%;
    color: #8f687a;
}
#MDP, #utilisateurs{
    border: 2px solid #a3a08c;
    background-color: #c2ae9f;
    width: 30%;
    height: 40px;
}
#MDP{
    margin-left: 10%;
    font-size: 22px;
}
 #utilisateurs{
    margin-left: 13%;
    font-size: 22px;
}
.taille{
    font-size: 200px;
}
#btn{
    margin-top: 2%;
    margin-bottom: 1%;
}
#btnConnexion{
    color: #8f7979;
    border: 2px solid #a3a08c;
    width: 130px;
    height: 40px;
    background-color: #c2ae9f;
    cursor: pointer;
    font-size: 20px;
}
#btnConnexion:active{
    background-color: #a3a08c;
    transform: translate(0,1px);
    -webkit-transform: translate(0,1px);
}
.texteChange{
    font-size: 20px;
}
#deconnexion{
    color: #8f7979;
    border: 2px solid #a3a08c;
    width: 130px;
    height: 40px;
    background-color: #c2ae9f;
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
}

#monTabl{
    margin-top: 5%;
    margin-left: 10%;
    border-collapse: collapse;
    width: 80%;
    border: 2px solid #a3a08c;
}


