table {
    border-collapse: collapse;
    margin: 0 auto;
}
td {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    cursor: crosshair;
}

.unJetonRouge {
    transition: all ease .8s;
    background-color: red;
    border-radius: 50%;
}

.unJetonJaune {
    transition: all ease .8s;
    background-color: yellow;
    border-radius: 50%;
}

/* Animation CSS */
@keyframes animerJeton {
    
}
