
body{
    display: flex;
}
/* 

.placementPoint{
    width: 762px;
    height: 41.719vw;
    margin-right: 5%;
    margin-top: 5%;
}
.carteImageFrance{
    position: relative;
    background-image: url("../image/carteDeFRance/Carte_France.png");
    background-size:contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.icon{
    position: absolute;
}
.lillesIcon{
    left: 460px;
}
.parisIcon{
    left: 400px;
    top: 200px;
}
.rennesIcon{
    left: 140px;
    top: 170px;
}
.strasbourgIcon{
    left: 700px;
    top: 180px;
}
.nantesIcon{
    left: 145px;
    top: 270px;
}
.lyonIcon{
    left: 550px;
    bottom: 300px;
}
.marseilleIcon{
    left: 525px;
    bottom: 110px;
}
.bordeauxIcon{
    left: 180px;
    bottom: 300px;
}  */
#canvas{
    width:762px;
    height:801px;
    border: 1px solid #000000;
    
}