@media(max-width:1200px){
    main{
        margin: 0;
        padding: 0;
    }


    /*Menu Burger*/
    .close{
        display: block;
    }
    #openBtn{
        display: block;
        color: #ffffff;
        font-size: 40px;
        padding-right:5%;
        text-decoration: none;
    }
    .sidenav{
        display: flex;
        flex-direction: column;
        height: 35%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        right: -100%; 
        background-color: #e8e8e8;
        padding-top: 20px;
        transition: right 0.5s ease;
    } 
    .sidenav a {
        padding: 8px 8px 8px 8px;
        text-decoration: none;
        font-size: 40px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover{
        color: #26C1DC;
        transform: rotatex(360deg);
    }
    .sidenav ul{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .sidenav.active{
        right: 0;
    }
    .sidenav .close{
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
    }
    .burger-icon {
        display: flex;
        justify-content: right;
    }
 /*texte premier pages*/
    .conteneureHeader{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    .TextPushYourLimit{
        width: 100%;
        margin-bottom: -50px;
        text-align: center;
    }
    /*Pages 2*/
    .imageMain{
        display: none;
    }
    .titreMainEttexte{
        text-align: center;
    }
    .textePage2{
        font-size: 3vh;
    }
    .imageFlecheMain{
        padding-bottom: 10%;
    }
    /*page 3 avec les 8 images*/
    


    /*page 4 avec la carte */
    .sectionTitreUlP4{
        width: 100%;
    }
    canvas{
        width: 45%;
    }
    .conteneurSectionP4{
        justify-content: space-between;
    }
    .carte{
        display: flex;
        width: 1500px;
        
        margin-bottom: 2%;
        justify-content: center;
    }

    /*pages 5 questionner*/
    .imageQuestionner{
        display: flex;
        justify-content: center;
    }
    .titreQuestionnaire{
        text-align: center;
    }
    /*dernier pages*/
    .footerDernnierPages{
        width: 100%;
        display: block;
    }
    #infoFooter{
        display: flex;
        width: 95%;
        height: 25vh;
    }
    #pourSuivreFooter{
        height: 25vh;
        text-align: center;
    }
    .titreFooter{
        text-align: center;
    }
    .logo{
        margin-top: 20px;
        padding-left: 20px;
    }
    .textFooter{
        padding-top: 30px;
    }
    /*Carousel*/

    .blockSection{
        display: none;
    }
    

    .cantainerCarousel{
        overflow: hidden;
    }
    .carousel{
        position: relative;
    }
    .carousel-inner{
        display: flex;
        overflow: hidden;
        height: 100vh;
        flex-wrap: nowrap;
    }

}
